<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img src="../../../assets/ImagenPerfil.jpg" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <p id="nombre">Lucas Gabriel De Los Santos</p>
            <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de Mí</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, ipsum sint nobis provident iusto alias nihil distinctio voluptates laboriosam repellat tenetur! Placeat magni rerum, repudiandae magnam autem cum voluptates! Iure.</p>
        </span>
    </div>
</div>