<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul class="">
            <li><h1>Atención al Cliente</h1>-<h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta voluptates quos quaerat nam impedit odit debitis commodi voluptatibus natus, vitae soluta rerum ab accusantium a dolor maxime ullam reprehenderit quae?</p>
        </ul>
        <ul class="">
            <li><h1>Secretario/Administrativo</h1>-<h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta voluptates quos quaerat nam impedit odit debitis commodi voluptatibus natus, vitae soluta rerum ab accusantium a dolor maxime ullam reprehenderit quae?</p>
        </ul>


    </div>
</div>
